div(
  class="modal"
  id="modal_view"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal_view_label"
  aria-hidden="true"
)
  div(
    class="modal-dialog modal-xl"
    role="document"
  )
    div(class="modal-content")
      div(class="modal-header")
        h5(
          class="modal-title"
          id="modal_view_label"
        )

        button(
          type="button"
          class="close"
          data-dismiss="modal"
        )
          span(aria-hidden="true") &times;

      div(class="modal-body p-0")
        include /views/includes/spinner.pug
        div(class="modal-container p-4")
          pre
      include /views/includes/modal_footer_simple
