form(
  id="content_filter"
  class="form-inline mx-3 my-2 justify-content-lg-end"
)
  div(class="row")
    input(
      type="text"
      class="form-control col"
      placeholder="фильтр контента"
      size="30"
      maxlength="100"
    )
    button(
      type="button"
      class="filter-reset btn btn-secondary ml-2"
      title="Сброс"
    )
      i(class="fa fa-undo")
