div(class="modal-footer bg-light")
  div(class="w-100")
    div
    small(class="text-muted")
  button(
    type="button"
    class="button-footer btn-view btn btn-outline-secondary"
    title="Просмотреть"
    data-toggle="modal"
    data-target="#modal_view"
  )
    i(class="fa fa-eye")
  button(
    type="button"
    class="button-footer btn-save btn btn-primary d-flex"
    disabled
  )
    include /views/includes/spinner_button.pug
    span(class="d-none d-lg-block mr-1") Сохранить
    i(class="fa fa-save p-1")
  button(
    type="button"
    class="button-footer btn-save-as btn btn-primary d-flex"
    disabled
  )
    include /views/includes/spinner_button.pug
    span(class="d-none d-lg-block mr-1") Сохранить как
    i(class="fa fa-save p-1")
    i(class="fa fa-pencil py-1")

  button(
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    title="Закрыть"
  )
    i(class="fa fa-remove")
  button(
    type="button"
    class="btn btn-secondary scroll-up"
    style="display: none;"
    title="В начало"
  )
    i(class="fa fa-arrow-up")
