div(class="modal-footer bg-light")
  button(
    type="button"
    class="btn btn-secondary"
    data-dismiss="modal"
    title="Закрыть"
  )
    i(class="fa fa-remove")
  button(
    type="button"
    class="btn btn-secondary scroll-up"
    style="display: none;"
    title="В начало"
  )
    i(class="fa fa-arrow-up")
