a(
  class="navbar-brand py-3"
  href="/"
) Cascana.OKO
button(
  class="navbar-toggler border-0"
  type="button"
  data-toggle="collapse"
  data-target="#navbar_content"
  aria-controls="navbar_content"
  aria-expanded="false"
  aria-label="Навигация"
)
  i(class="fa fa-navicon fa-2x")
