div(
  class="modal fade"
  id="modal_monitor"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modal_monitor_label"
  aria-hidden="true"
)
  div(
    class="modal-dialog modal-lg modal-dialog-centered"
    role="document"
  )
    div(class="modal-content")
      div(class="modal-header")
        h5(
          class="modal-title"
          id="modal_monitor_label") Персональный профиль
        button(
          type="button"
          class="close"
          data-dismiss="modal"
        )
          span(aria-hidden="true") &times;

      div(class="modal-body p-4")
      include /views/includes/modal_footer
